@use './variables' as *;

:root{
  font-size: 62.5%;
}

::selection{
  background: $dark-100;
  color: $light-100;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: $font-body;
  font-weight: 400;
  background: $dark-100;
  color: $light-100;
  font-size: 1.6rem;
}

ul, li{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.button{
  text-decoration: none;
  background: $dark-100;
  color: $light-100;
  padding: 1.8rem 4rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 18px;
  transform: scale(1);
  transition: all .3s ease-in-out;
  font-family: $font-title;

  &:hover{
    transform: scale(1.05);
  }
}